.wrapper {
  display: flex;
  flex-direction: column;
  flex: 0 1 100%;
  min-height: min-content;
  /* background-color: rgb(246, 249, 253); */
}

.codeEditor {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
}

.editorHeader {
  display: flex;
  flex-direction: row;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(194, 194, 194, 0.4);
}

.editorHeaderButtonWrapper {
  display: flex;
  flex-direction: row;
}

.editorHeaderButtons {
  margin-left: 8px;
  margin-right: 8px;
}

.editorHeaderConnection {
  margin-left: 8px;
  margin-right: 8px;
}

.resultView {
  display: flex;
  flex: 2 0 0;
  overflow-y: auto;
}

.notConnectedWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.notConnectedText {
  margin-top: 3rem;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}

.notConnectedIcon {
  color: rgba(0, 0, 0, 0.5);
}
