.wrapper {
  display: flex;
  flex-direction: column;
  flex: 0 1 100%;
  min-height: min-content;
  padding: 16px;
  background-color: rgb(246, 249, 253);
}

.codeEditor {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
}

.editorHeader {
  display: flex;
  flex-direction: row;
  margin: 16px;
  justify-content: space-between;
}

.editorHeaderButtonWrapper {
  display: flex;
  flex-direction: row;
}

.editorHeaderButtons {
  margin-left: 8px;
  margin-right: 8px;
}

.editorHeaderConnection {
  margin-left: 8px;
  margin-right: 8px;
}

.resultView {
  display: flex;
  flex: 2 0 0;
  overflow-y: auto;
}
