.wrapper {
  display: flex;
  flex-direction: column;
  flex: 0 1 100%;
  min-height: min-content;
}

.codeEditor {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
}

.editorHeader {
  display: flex;
  flex-direction: row;
  margin: 16px;
  justify-content: flex-end;
}

.editorHeaderButtons {
  margin-left: 8px;
  margin-right: 8px;
}

.resultView {
  display: flex;
  flex: 2 0 0;
  overflow-y: auto;
}
