.container {
  background-color: rgb(246, 249, 253);
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}

.header {
  margin-left: 8px;
  margin-right: 8px;
}

.connectionlist {
  display: flex;
  flex: 1;
  margin: 8px;
}
