.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(246, 249, 253);
}

.header {
  padding: 16px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(194, 194, 194, 0.4);
}

.searchbar {
  flex: 1;
  margin-right: 16px;
}

.footer {
  padding: 16px;
  text-align: center;
  font-size: 1.25rem;
}

.content {
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0;
}
