.container {
  display: flex;
  flex: 1;
  height: 100vh;
}

.content {
  flex: 5;
  display: flex;
  flex-direction: column;
}

.editor {
  flex: 2;
}

.resultViewer {
  flex: 3;
}

.sidebar {
  flex: 1;
  max-width: 400px;
  word-wrap: break-word;
}

.vizPane {
  flex: 5;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
